<launch>
    <node pkg="example" name="rtps_topic_publisher" type="example_rtps_topic_publisher"/>
    <node pkg="example" name="rtps_to_ros_gateway" type="example_rtps_to_ros_gateway"/>
    <node pkg="example" name="service_hoster" type="service_hoster.py"/>

    <!-- note the TM4J test case number (ide_tnnnn); if you copy and paste this code, be sure to update or remove this-->
    <test pkg="example" test-name="ros_kinetic_catkin_example_cpp_test_ide_t2855" type="example-test"/>
</launch>
