<launch>
    <!--<node pkg="example" name="topic_publisher" type="topic_publisher.py"/>-->
    <node pkg="example" name="rtps_topic_publisher" type="example_rtps_topic_publisher"/>
    <node pkg="example" name="rtps_to_ros_gateway" type="example_rtps_to_ros_gateway"/>
    <node pkg="example" name="service_hoster" type="service_hoster.py"/>

    <test pkg="example" test-name="ros_kinetic_catkin_example_cpp_test" type="example-test"/>
</launch>
